<!-- views/partials/head.ejs -->

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<title>Race Track Train</title>

<!-- CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
-->

<!-- Load main CSS file -->
<link rel="stylesheet" href="./stylesheets/login.css">
