//
   Created by Kristoff on 7/02/2015.

extends layout
block content
    - var viewableRaces = [ "KBSC", "CCYC" ];
    - var availablePorts = portList;

    div#adminTools
        form#setupRace
            label(for="ports")= "Select a COM port:"
            br
            select(name="ports")
                each port in availablePorts
                    option(value= port)= port
            br
            input(type="submit", value="Start Race!")

    div#userTools
        form#raceSelect(name="raceSelect",method="GET",action="/racetracker")
            label(for="races")= "Select a Race:"
            br
            select(name="races")
                each race in viewableRaces
                    option(value= race)= race
            br
            input(type="submit", value="Watch Race!")