doctype html
html
  head
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title= title
    block stylesheet
      link(rel='stylesheet', href="/css/index.css" )
    block scripts
  body
    block content
