// Created by Kristoff on 07/02/2015
doctype html
html
  head
      title= title
      meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
      meta(charset="utf-8")
      link(rel='stylesheet', href="/css/index.css" )

      //script(src="/socket.io/socket.io.js")
      
      script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
      script(src="/scripts/GoogleMapTracking.js")
      script(src="http://code.jquery.com/jquery-1.11.1.js")


  body
    aside#leaderboard
        h1 Leaderboard
        ol#leaderboardList
          li Item1
          li Item2
          li Item3
          li Item4
    div#content
        div#map-canvas
        canvas#mag-canvas
        div#geoDiv
    script(type="text/javascript").
        $(document).ready(initialize());
